[alias]
    unadd = reset HEAD
    st = status
    co = checkout
    uncommit = reset --soft HEAD^
    changed = diff-tree -no-commit-id --name-only -r
    updatesubmodules = pull --recurse-submodules && git submodule update
    branches = for-each-ref --sort=-committerdate refs/heads/    
[pull]
    rebase = true
[push]
    default = simple
[http]
    sslVerify = false
[core]
    editor = /usr/bin/vim
[user]
    name = Ben Auffarth
[credential]
    helper = cache
[init]
        defaultBranch = main
